.editIcon {
  display: flex;
  position: absolute;
  right: clamp(-15px, -1.8vw, -8px);
  top: clamp(-15px, -1.8vw, -8px);
  padding: 5px;
  border-radius: 20%;
  cursor: pointer;
  transition: right 0.2s ease-in-out, left 0.2s ease-in-out,
    background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  pointer-events: initial;
  width: clamp(30px, 4vw, 40px);
  height: clamp(30px, 4vw, 40px);
}
.closeBtn {
  background-color: white;
  color: rgb(202, 0, 0);
  border: 1.5px solid rgb(202, 0, 0);
}
.closeBtn:hover {
  background-color: rgb(202, 0, 0);
  color: white;
}
