.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.433);
  transition: opacity 0.5s ease;
  touch-action: none;
  overscroll-behavior: contain;
}
.hideOverlay {
  opacity: 0;
  pointer-events: none;
}
.closeIcon {
  pointer-events: inherit;
  z-index: 6;
  top: 30px;
  right: 30px;
}
.image {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
