.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56.4px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  transition: background-color 0.3s, width 0.3s, max-width 0.3s;
  transform: translateX(-300px);
  animation: fadeIn 0.3s ease-out forwards;
  max-width: 36px;
  width: 36px;
  pointer-events: none;
  background-color: transparent;
  box-shadow: none;
}
.expand {
  width: 220px !important;
  max-width: 220px !important;
  background-color: #f1f3f5;
  pointer-events: auto;
}
.overlay {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 2;
  transition: ease 0.3s;
}
.overlayShown {
  opacity: 0.5;
}
.overlayHidden {
  opacity: 0;
  pointer-events: none;
}
.hideOnSmall {
  opacity: 0;
  pointer-events: none;
}
.logoutBtn {
  white-space: nowrap;
  width: 176px;
  padding-left: 9px;
  transition: width 0.3s ease;
}
.logoutLabel {
  overflow: hidden;
}
.logoutLabelHidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 562.5px) {
  .logoutBtn {
    padding-left: 0.75rem;
  }
  .sidebar {
    background-color: #f1f3f5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    pointer-events: auto;
    max-width: 60px;
    width: 60px;
  }
  .hideOnSmall {
    opacity: 1;
    pointer-events: auto;
  }
  .logoutBtn {
    width: 80%;
  }
}

@keyframes fadeIn {
  to {
    transform: translateX(0);
  }
}
