.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 58.7px;
  z-index: 3;
  background-color: #f1f3f5;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.overlay {
  position: fixed;
  top: 58.7px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 2;
  transition: ease 0.3s;
}
.overlayShown {
  opacity: 0.5;
}
.overlayHidden {
  opacity: 0;
  pointer-events: none;
}
.hamburger {
  width: 80%;
}
.logoutBtn {
  white-space: nowrap;
  width: 80%;
  padding-left: 9px;
  transition: 0.3s ease;
}
.logoutLabel {
  overflow: hidden;
  transition: ease 0.3s;
}
.logoutLabelHidden {
  opacity: 0;
  max-width: 0;
  pointer-events: none;
}
.smallIcon {
  transition: 0.3s ease;
  width: 15px;
}

@media screen and (min-width: 562px) {
  .logoutBtn {
    padding-left: 0.75rem;
  }
}
