.profileBgContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 22%;

  width: 100%;
  position: absolute;
  transition: background-position 0.5s ease-in-out;
}
.centerBg {
  background-position: center;
}
.topBg {
  background-position: top;
}
.botBg {
  background-position: bottom;
}
