.homeBg {
  min-height: 92vh;
  display: flex;
  align-items: center;
  background: linear-gradient(120deg, #c3ddff, #ffffff);
  padding: 2rem 0;
}
.shadow {
  box-shadow: 0 4px 20px rgba(59, 130, 246, 0.4);
}
