.header {
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: ease 0.3s;
  height: 56px;
}
.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: -1;
}
.fluid {
  transition: ease 0.3s;
}
.Brand {
  letter-spacing: 0.5px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.482);
}
.dropdownItem {
  color: black;
}
.dropdownItem:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}
.pfpLink {
  transition: border-color 0.4s ease;
  border: 1px solid transparent;
  border-radius: 50%;
}
.pfpLink:hover {
  border-color: rgb(29, 247, 255);
}
.menuButton {
  padding: 3px 5px;
}
.menuButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: 0.3s ease;
}
.dropdownTitle:hover {
  background-color: transparent;
  cursor: auto;
}
.dropdownMenu {
  background-color: rgba(255, 255, 255, 0.514);
  backdrop-filter: blur(10px);
  border-radius: 0.25rem;
  overflow: hidden;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
}
.showMenu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: initial;
}
