.label {
  opacity: 1;
  max-width: 100px;
  overflow: hidden;
  transition: opacity ease 0.3s;
}

.labelHidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 0.3s;
}
.link {
  transition: 0.3s ease;
  padding-left: 20px;
}
@media screen and (max-width: 562px) {
  .link {
    padding-left: 13px;
  }
}
